<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Traveller</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <header class="header">
        <nav class="navigation navigation-background fixed-top container d-flex justify-content-between">
            <a href="#" class="nav-link">TRAVELLER</a>
            <a href="https://github.com/shoxadomokai/traveller" class="nav-link">LEARN MORE</a>
        </nav>
        <section class="hero">
            <div class="row d-flex align-items-center">
                <div class="col-xl-6 mb-5 mb-lg-0">
                    <span class="subtitle">Enjoy Travel</span>
                    <h1 class="title display-1">Plan a Trip to Remember</h1>
                    <p class="hero-body">Nothing's better than travelling and visiting new places and nothing's as scary
                        as being in a new place on your own. Let us at Traveller help you feel at home so you can focus
                        on the exciting parts of your trip.</p>
                </div>
                <div class="col-xl-6">
                    <img id="hero-image" class="img-fluid" src="../images/hero-image.png" alt="travel items">
                </div>
            </div>
        </section>
    </header>
    <section class="container traveller-form-area">
        <form id="traveller-form" class="traveller-form" onsubmit="return Client.extractInput(event)">
            <span class="d-flex w-100 align-items-center">
                <div class="input-wrapper">
                    <div class="form-group">
                        <input type="text" class="form-control" id="inlineFormInput11" placeholder=" ">
                        <label for="inlineFormInput11">Where are you going?</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inlineFormInput12" placeholder=" ">
                        <label class="date-picker" for="inlineFormInput12">Check In - Check Out</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inlineFormInput13" placeholder=" ">
                        <label for="inlineFormInput13">Where are you staying?</label>
                    </div>
                </div>
            </span>
            <span role="button" id="add-form-field" class="span-button">Add a New Location +</span>
            <div class="text-center">
                <button id="form-traveller__button" onclick="return Client.extractInput(event)"
                    onsubmit="return Client.extractInput(event)" class="order w-100"><span class="default">Plan
                        Trip</span><span class="success">Trip Planned
                        <svg viewbox="0 0 12 10">
                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                        </svg></span>
                    <div class="box"></div>
                    <div class="truck">
                        <div class="back"></div>
                        <div class="front">
                            <div class="window"></div>
                        </div>
                        <div class="light top"></div>
                        <div class="light bottom"></div>
                    </div>
                    <div class="lines"></div>
                </button>
            </div>

        </form>
    </section>

</body>

</html>