.navbar {
  background-color: black;
  height: 12.6vh;
  padding: 1rem;

  #potrait-logo {
    display: block;
    height: 100%;
    margin: 0 auto;
  }

  #landscape-logo {
    display: none;
  }
}

//medium
@media only screen and (min-device-width: 682px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
}

//large
@media screen and (min-device-width: 1000px) and (max-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 1) {
  .navbar {
    background-color: black;
    height: 50px;
    padding: 0.6rem 1.5rem;

    #potrait-logo {
      display: none;
      height: 100%;
    }

    #landscape-logo {
      display: block;
      height: 100%;
    }
  }
}
